<div class="sidenav">
    <h1 style="text-align: center;">Matches</h1>
    <div *ngFor="let match of matches; let i = index">
        <button class="my-button" role="button" (click)='routeToCam(match)'>{{match}}</button>
        <mat-divider></mat-divider>
    </div>
      <p *ngIf="!isMatches">No matches :/</p>
</div>
<div class="container">
  <button role="button" style="float:right;" (click)='routeLogin()'>Logout</button>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval='false'>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" *ngFor='let i of arr' data-slide-to="i+1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="https://i.imgur.com/A0ZYKAb.png" alt="Chania" width="480" height="365">
        <div class="carousel-caption">
          <h1 (click)="getUsers()">Hello {{name}}!</h1>
          <h3>Let's get you started. If you are interested in the person you are seeing, press the interested button.</h3>
          <button class="my-button" href="#myCarousel" role="button" data-slide="next">Okay!</button>
        </div>
      </div>
      <div class="item" *ngFor='let i of arr'>
        <img src="{{userList[i].picture || ''}}" alt="" width="480" height="365">
        <div class="carousel-caption" *ngIf='i < arr.length - 1'>
          <h1>{{userList[i].name}}</h1>
          <h3>{{userList[i].description}}</h3>
          <h3>{{userList[i].interests}}</h3>
          <button class="my-button" href="#myCarousel" role="button" data-slide="next">Pass</button>
          <button class="my-button" href="#myCarousel" role="button" data-slide="next" (click)='like(i)'>Interested</button>
        </div> 
        <div class="carousel-caption" *ngIf='i == arr.length - 1'> 
          <h1>Sorry we are out of users!</h1>
          <h3>Please wait to see if any of your interests have responded</h3>
          <!-- <button class="my-button" (click)="finish()">Get Started!</button> -->
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>

  
 