.container{
    height: 100vh;
    width:86vw;
    float: right;
}
.carousel-inner{
    height: 95vh;
}
.coffee-icon{
    border-radius: 50%;
    height: 40vh;
    width: 20vw;
}
.carousel-caption{
    padding-bottom: 0vh !important;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /* width: 70%; */
      margin: auto;
      border-radius: 50%;
      height:480px;
  }

.my-button {
    background-color: rgb(74, 111, 160); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 170px;
}
.my-button:active {
    background-color: rgb(51, 80, 117); 
}

.sidenav{
    height: 100vh;
    background-color:#cccccc;
    max-width:13vw;
    float: left;
  }
